<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        All I do here is bakwaas and all kind of stupid shit. And I am just
        writing it down here because now i am very bored and frustated beacause
        of ejs this mf doesn't give the shortcuts of html and you have to write
        down the whole fuckin damn shit of code one by one litterally very
        irritating stuff
      </p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
